<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset=utf-8>
<meta http-equiv=X-UA-Compatible content="IE=edge">
<meta name=viewport
	content="width=device-width,initial-scale=1,shrink-to-fit=no">

<link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/notiphyapp/docs@latest/content/static/app/notiphy/bg-x-icon-y-b.png" />

<title><%=CONST.APP_TITLE %></title>
<script>
	<%=CONST_SCRIPT %>
</script>
</head>
<body>
	<noscript>
		<strong>We're sorry but ArchitectUI doesn't work properly
			without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>
	<div id=app>Sample Page</div>
</body>

</html>


